*
!.github/
!.github/ISSUE_TEMPLATE/
!assets/
!assets/fonts/
!cards/
!cards/*/
!privacy/
!sets/
!sets/*/
!card/
!card/*/
!index.html
!.nojekyll
!sitemap.xml
!robots.txt
!privacy/index.html
!assets/opchase.css
!assets/opchase-ui.js
!assets/fonts/InterVariable.woff2
!assets/fonts/Inter-LICENSE.txt
!assets/opchase-card.js
!assets/opchase-db.js
!sets/index.html
!.github/ISSUE_TEMPLATE/report.yml
!.github/ISSUE_TEMPLATE/config.yml
!.github/ISSUE_TEMPLATE/waitlist.yml
!cards/eb01-003-reg-fin-kid-psa-10/index.html
!cards/eb01-006-manga-chopper-psa-10/index.html
!cards/eb02-006-serial-yamato-psa-10/index.html
!cards/eb02-061-manga-luffy-psa-10/index.html
!cards/eb03-003-sp-uta-psa-10/index.html
!cards/eb03-024-sp-vivi-psa-10/index.html
!cards/eb03-026-sp-hancock-psa-10/index.html
!cards/eb03-031-sp-reiju-psa-10/index.html
!cards/eb03-053-sp-nami-psa-10/index.html
!cards/eb03-055-sp-robin-psa-10/index.html
!cards/eb03-061-manga-uta-psa-10/index.html
!cards/eb04-044-manga-koby-psa-10/index.html
!cards/op01-003-aa-luffy-psa-10/index.html
!cards/op01-016-manga-prb-nami-psa-10/index.html
!cards/op01-016-sp-nami-psa-10/index.html
!cards/op01-025-aa-zoro-psa-10/index.html
!cards/op01-025-tc23-top8-zoro-psa-10/index.html
!cards/op01-060-aa-doflamingo-psa-10/index.html
!cards/op01-070-aa-mihawk-psa-10/index.html
!cards/op01-078-sp-hancock-psa-10/index.html
!cards/op01-094-top8-kaido-psa-10/index.html
!cards/op01-120-aa-shanks-psa-10/index.html
!cards/op01-120-manga-shanks-psa-10/index.html
!cards/op02-013-manga-ace-psa-10/index.html
!cards/op02-099-reg16-sakazuki-psa-10/index.html
!cards/op03-013-reg32-marco-psa-10/index.html
!cards/op03-092-sp-lucci-psa-10/index.html
!cards/op03-114-cs24-big-mom-psa-10/index.html
!cards/op03-122-manga-prb1-usopp-psa-10/index.html
!cards/op03-122-manga-usopp-psa-10/index.html
!cards/op03-123-cs24-katakuri-psa-10/index.html
!cards/op04-083-manga-sabo-psa-10/index.html
!cards/op05-060-eb02sp-luffy-psa-10/index.html
!cards/op05-069-manga-law-psa-10/index.html
!cards/op05-074-manga-kid-psa-10/index.html
!cards/op05-091-sp-rebecca-psa-10/index.html
!cards/op05-119-3a-gold-luffy-psa-10/index.html
!cards/op05-119-aa-luffy-psa-10/index.html
!cards/op05-119-manga-luffy-psa-10/index.html
!cards/op05-119-wanted-luffy-psa-10/index.html
!cards/op06-118-manga-zoro-psa-10/index.html
!cards/op06-119-manga-prb2-sanji-psa-10/index.html
!cards/op07-051-manga-hancock-psa-10/index.html
!cards/op07-091-off-fin-luffy-psa-10/index.html
!cards/op07-109-tr-luffy-psa-10/index.html
!cards/op08-105-illus-bonney-psa-10/index.html
!cards/op08-118-manga-rayleigh-psa-10/index.html
!cards/op09-004-manga-shanks-psa-10/index.html
!cards/op09-004-sp-gold-shanks-psa-10/index.html
!cards/op09-004-wanted-shanks-psa-10/index.html
!cards/op09-051-manga-buggy-psa-10/index.html
!cards/op09-061-2a-luffy-psa-10/index.html
!cards/op09-065-cs2526-top8-sanji-psa-10/index.html
!cards/op09-076-cs2526-zoro-psa-10/index.html
!cards/op09-093-manga-blackbeard-psa-10/index.html
!cards/op09-093-sp-gold-blackbeard-psa-10/index.html
!cards/op09-093-wanted-blackbeard-psa-10/index.html
!cards/op09-118-goldmanga-roger-psa-10/index.html
!cards/op09-119-manga-luffy-psa-10/index.html
!cards/op09-119-sp-en-luffy-psa-10/index.html
!cards/op10-119-manga-law-psa-10/index.html
!cards/op11-041-l-aa-nami-psa-10/index.html
!cards/op11-041-wci-nami-psa-10/index.html
!cards/op11-118-manga-luffy-psa-10/index.html
!cards/op12-015-tc64-luffy-psa-10/index.html
!cards/op12-118-manga-bonney-psa-10/index.html
!cards/op13-016-tc-garp-psa-10/index.html
!cards/op13-118-manga-luffy-psa-10/index.html
!cards/op13-118-redmanga-luffy-psa-10/index.html
!cards/op13-119-manga-ace-psa-10/index.html
!cards/op13-119-redmanga-ace-psa-10/index.html
!cards/op13-120-manga-sabo-psa-10/index.html
!cards/op13-120-redmanga-sabo-psa-10/index.html
!cards/op14-119-manga-mihawk-psa-10/index.html
!cards/op14-120-topprize-crocodile-psa-10/index.html
!cards/op15-060-tc-enel-psa-10/index.html
!cards/op15-118-manga-enel-psa-10/index.html
!cards/op16-022-l-aa-luffy-psa-10/index.html
!cards/op16-063-manga-kuzan-psa-10/index.html
!cards/op16-065-manga-sakazuki-psa-10/index.html
!cards/op16-073-manga-borsalino-psa-10/index.html
!cards/op16-080-l-aa-blackbeard-psa-10/index.html
!cards/op17-022-manga-shanks-psa-10/index.html
!cards/p-001-spr-win-luffy-psa-10/index.html
!cards/p-001-store-win-luffy-psa-10/index.html
!cards/p-007-celeb-luffy-psa-10/index.html
!cards/p-041-1a-win-luffy-psa-10/index.html
!cards/p-041-online-v2-luffy-psa-10/index.html
!cards/p-043-foil-luffy-psa-10/index.html
!cards/p-106-win-luffy-psa-10/index.html
!cards/st01-001-spr-luffy-psa-10/index.html
!cards/st01-007-ny-win-nami-psa-10/index.html
!cards/st01-010-1a-franky-psa-10/index.html
!cards/st01-012-sig-luffy-psa-10/index.html
!cards/st01-012-spr-luffy-psa-10/index.html
!cards/st10-005-1a-jinbe-psa-10/index.html
!cards/st10-010-topprize-law-psa-10/index.html
!cards/st13-003-2a-win-luffy-psa-10/index.html
!cards/st15-002-sp-whitebeard-psa-10/index.html
!cards/st26-005-sp-en-luffy-psa-10/index.html
!card/op01-016/index.html
!card/op01-121/index.html
!card/op02-120/index.html
!card/op03-092/index.html
!card/op04-044/index.html
!card/op05-001/index.html
!card/op05-002/index.html
!card/op05-003/index.html
!card/op05-004/index.html
!card/op05-005/index.html
!card/op05-006/index.html
!card/op05-007/index.html
!card/op05-008/index.html
!card/op05-009/index.html
!card/op05-010/index.html
!card/op05-011/index.html
!card/op05-012/index.html
!card/op05-013/index.html
!card/op05-014/index.html
!card/op05-015/index.html
!card/op05-016/index.html
!card/op05-017/index.html
!card/op05-018/index.html
!card/op05-019/index.html
!card/op05-020/index.html
!card/op05-021/index.html
!card/op05-022/index.html
!card/op05-023/index.html
!card/op05-024/index.html
!card/op05-025/index.html
!card/op05-026/index.html
!card/op05-027/index.html
!card/op05-028/index.html
!card/op05-029/index.html
!card/op05-030/index.html
!card/op05-031/index.html
!card/op05-032/index.html
!card/op05-033/index.html
!card/op05-034/index.html
!card/op05-035/index.html
!card/op05-036/index.html
!card/op05-037/index.html
!card/op05-038/index.html
!card/op05-039/index.html
!card/op05-040/index.html
!card/op05-041/index.html
!card/op05-042/index.html
!card/op05-043/index.html
!card/op05-044/index.html
!card/op05-045/index.html
!card/op05-046/index.html
!card/op05-047/index.html
!card/op05-048/index.html
!card/op05-049/index.html
!card/op05-050/index.html
!card/op05-051/index.html
!card/op05-052/index.html
!card/op05-053/index.html
!card/op05-054/index.html
!card/op05-055/index.html
!card/op05-056/index.html
!card/op05-057/index.html
!card/op05-058/index.html
!card/op05-059/index.html
!card/op05-060/index.html
!card/op05-061/index.html
!card/op05-062/index.html
!card/op05-063/index.html
!card/op05-064/index.html
!card/op05-065/index.html
!card/op05-066/index.html
!card/op05-067/index.html
!card/op05-068/index.html
!card/op05-069/index.html
!card/op05-070/index.html
!card/op05-071/index.html
!card/op05-072/index.html
!card/op05-073/index.html
!card/op05-074/index.html
!card/op05-075/index.html
!card/op05-076/index.html
!card/op05-077/index.html
!card/op05-078/index.html
!card/op05-079/index.html
!card/op05-080/index.html
!card/op05-081/index.html
!card/op05-082/index.html
!card/op05-083/index.html
!card/op05-084/index.html
!card/op05-085/index.html
!card/op05-086/index.html
!card/op05-087/index.html
!card/op05-088/index.html
!card/op05-089/index.html
!card/op05-090/index.html
!card/op05-091/index.html
!card/op05-092/index.html
!card/op05-093/index.html
!card/op05-094/index.html
!card/op05-095/index.html
!card/op05-096/index.html
!card/op05-097/index.html
!card/op05-098/index.html
!card/op05-099/index.html
!card/op05-100/index.html
!card/op05-101/index.html
!card/op05-102/index.html
!card/op05-103/index.html
!card/op05-104/index.html
!card/op05-105/index.html
!card/op05-106/index.html
!card/op05-107/index.html
!card/op05-108/index.html
!card/op05-109/index.html
!card/op05-110/index.html
!card/op05-111/index.html
!card/op05-112/index.html
!card/op05-113/index.html
!card/op05-114/index.html
!card/op05-115/index.html
!card/op05-116/index.html
!card/op05-117/index.html
!card/op05-118/index.html
!card/op05-119/index.html
!card/st01-012/index.html
!sets/op05/index.html
!.gitignore
